$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    margin: 0 auto;
    padding-bottom: 20px;
    font-family: 'Lato', sans-serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
    height: 100px;
    background: rgb(49, 49, 52);

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        position: relative;
        max-width: 960px;
        text-align: center;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.logo {
    margin-top: 20px;
    height: 60px;
    display: inline-block;
    &:hover {
        opacity: .4;
    }
    -webkit-transition: all .5s ease;
}

.navigation-css {
    height: 100px; 
    line-height: 100px;
    display: inline;
    position: absolute;
}

.navigation {
    display: inline-block;
    position: absolute;
    text-align: center;
    right: 0;
}

.nav-top {
    height: 100px;
    display: inline-block;
    line-height: 100px;
    position: relative;
    padding: 0 10px 0 10px;
    text-align: center;
    a {
        color: #fff;
        font-size: 16px;
    }
}

.icons {
    width: 80px;
    display: inline;
    &:hover {
        opacity: .4;
    }
    -webkit-transition: all .5s ease;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
}

.middle {
    position: relative;
    text-align: center;
    height: 500px;
    color: #fff;
    h1 {
        text-align: center;
    }
    span {
        font-size: 16px;
        text-align: center;
        color: #fff;
    }
  
}

.work   {
    height: 400px;
    position: relative;
    background: #fff;
    display: inline-block;
}

.footer {
    position: relative;
    height: 200px;
    background: rgb(49, 49, 52);
    text-align: center;
    line-height: 200px;
}

.logo-black {
    margin-top: 50px;
    height: 120px;
}

.featured-images {
    display: inline-block;
    position: relative;
    height: 200px;
}

.featured-items {
    height: 300px;
    position: relative;
    display: inline;
    background: black;
}

.featured-one {
    position: relative;
    display: inline-block;
    background: blue;
    height: 300px;
    width: 300px;
    text-align: center;
}
     

.featured-two {
    position: relative;
    display: inline-block;
    background: red;
    height: 300px;
    width: 300px;
}

.featured-three {
    position: relative;
    display: inline-block;
    background: green;
    height: 300px;
    width: 300px;
}

.footer {
    width: 100%;
    position: relative;
    display: inline-block;
}
